@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
    --background-color: #f7f7f7;
    --text-color: #535353;
    --border-color: #000;
}

body.dark-mode {
    --background-color: #222;
    --text-color: #f1f1f1;
    --border-color: #f1f1f1;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: var(--background-color);
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

#gameContainer {
    position: relative;
    border: 2px solid var(--border-color);
    width: 90%;
    max-width: 1000px; /* Match the canvas's base width */
}

#gameCanvas {
    background-color: var(--background-color);
    display: block;
    width: 100%;
    height: auto;
}

#pauseButton {
    position: absolute;
    top: 10px;
    left: 50px; /* Position it next to the theme toggle */
    font-size: 24px;
    cursor: pointer;
    z-index: 10;
    color: var(--text-color);
}

#themeToggle {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    cursor: pointer;
    z-index: 10;
    color: var(--text-color);
}

#scoreContainer {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 16px;
    color: var(--text-color);
    text-align: right;
}

#score {
    font-size: 16px;
    color: var(--text-color);
}

#gameOver {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--text-color);
}

#gameOver h2 {
    font-size: 24px;
    margin: 0;
}

.hidden {
    display: none;
}

#pauseScreen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--text-color);
    z-index: 20; /* Ensure it's on top */
}

.hidden {
    display: none;
}